

<mat-card  fxLayout="column">
    <mat-card-header>
      
      <mat-card-title>Create Account</mat-card-title>
      <mat-card-subtitle>Add your Organistion detail below, *are mandatory fields </mat-card-subtitle>
    </mat-card-header>
    
   
    <mat-card-content>
        <form  [formGroup]="DashboardForm">
       <div >
        <div class="title">Organistion Details</div>
       <div fxLayout="row"  fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">

        
           <mat-form-field fxFlex="50" class="try" appearance="outline">
               <mat-label>
                   First Name
               </mat-label>
               <input matInput >

           </mat-form-field>
           <mat-form-field fxFlex="50"class="try" appearance="outline">
            <mat-label>
                Last Name
            </mat-label>
            <input matInput >

        </mat-form-field>
       </div>
    </div>
    <div >
        <div class="title">Contat Details</div>
        <div fxLayout="row"  fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">

           <mat-form-field fxFlex="50"class="try" appearance="outline">
               <mat-label>
                   Email ID
               </mat-label>
               <input matInput >
              

           </mat-form-field>
           <mat-form-field fxFlex="50" class="try" appearance="outline">
            <mat-label>
                Mobil Number
            </mat-label>
            <input matInput required>

        </mat-form-field>
    </div>
    </div>
    <div >
        <div class="title">Password</div>
        <div fxLayout="row"  fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">

           <mat-form-field fxFlex="50" class="try" appearance="outline">
               <mat-label>
                Password
               </mat-label>
               <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

           </mat-form-field>
           <mat-form-field fxFlex="50" class="try" appearance="outline">
            <mat-label>
                confirm password
            </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        </mat-form-field>
    </div>
    </div>
   <div fxLayout="row" >
    <button fxFlex="42"  mat-raised-button >SUBMIT</button>

   </div>
    
</form>

   
        </mat-card-content>
   
  </mat-card>