

.logo{
    width: 120px;
    height: 50px;
    
}
.try {
    width: 320px;
    height: 70px;
}
.mat-raised-button{
    padding-right: 220px;
    padding-left: 100px;
    color: aliceblue;
    background-color: #243746;
    
    padding-top: 5px;
    padding-bottom: 5px;
}
